[init]
  defaultBranch = main
[core]
	excludesfile = ~/.config/gitconfig/global.gitignore
[includeIf "gitdir:~/"]
  path = ~/.config/gitconfig/personal.gitconfig
[includeIf "gitdir:~/Documents/works/"]
  path = ~/.config/gitconfig/work.gitconfig
