export ANTHROPIC_AUTH_TOKEN="token"
export ANTHROPIC_BASE_URL="https://api.anthropic.com"
export API_TIMEOUT_MS="3000000"
export ANTHROPIC_DEFAULT_HAIKU_MODEL="haiku"
export ANTHROPIC_DEFAULT_SONNET_MODEL="sonnet"
export ANTHROPIC_DEFAULT_OPUS_MODEL="opus"
